  <appSettings>
    <!--Rename this file as "settings.secrets" and fill in your credentials-->
    <add key="MediaServerUrl" value="http://12.34.56.78"/>
    <add key="MediaServerPort" value="1234"/>
    <add key="MediaServerUsername" value="user_name"/>
    <add key="MediaServerPassword" value="pass_word"/>
  </appSettings>